body {
  padding: 16px;
}

form {
  padding: 16px;
  margin: 8px;
  border: 1px solid #ccc;
  background: #1234ff88;
  font-weight: bold;
  -webkit-box-shadow: 10px 10px 34px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 34px -6px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 34px -6px rgba(0,0,0,0.75);
}

.row {
  padding: 15px;
}

#profile-image {
  padding: 3px;
  border: 1px dotted #ccc;
  display: block;
  margin:0px auto; 
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.invisible {
  visibility: hidden;
}
#actions {
  margin: 2px 0;
  padding: 2px 0;
  display: inline;
}

@media (max-width: 576px) {
  #submitButton {
    width: 100%;
    display: block;
  }
  .btn {
    width: 100%;
    margin: 2px 0;
  }
  canvas {
      width: 75%;
  }
}

@media (max-width: 769px) {
  canvas {
      width: 75%;
  }
}

#imgPalette{ 
  display: block;
  width:100%;
  padding:5px;
  min-height:100px; 
  text-align:center;
}

#imgPalette > .paletteColor{
  border:1px solid white;
  display: inline-block;  
  width:100px;
  min-height:100px;
}